---
import MainButton from "../buttons/mainButton.astro";
---

<section aria-label="Back to blog button" class="flex my-3">
    <MainButton
        href="/blog"
        isSecondary={true}
        text="Back to Blog"
        leftIcon="tabler:arrow-left"
    />
</section>
