---
import {getCollection} from "astro:content";
import {removeMarkdown} from "../../utils";

import FormattedDate from "../../components/FormattedDate.astro";
import MainLayout from "../../layouts/MainLayout.astro";

let posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
posts = posts.filter((post) => !post.data.draft);
console.log(posts);
for (let a in posts) {
	console.log(posts[a].data.title);
}
---

<MainLayout>
	<main>
		<section>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}/`}>
								<FormattedDate date={post.data.pubDate} />
								{post.data.title === "" || post.data.title === undefined ? removeMarkdown(post.body.slice(0, 40)) : post.data.title}
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</MainLayout>
