---
import FormattedDate from "../../../components/FormattedDate.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
import { removeMarkdown, slugify } from "../../../utils";

export async function getStaticPaths() {
    let posts = await getCollection("blog");
    const uniqueCategory = [
        ...new Set(posts.map((post: any) => post.data.category).flat()),
    ];

    return uniqueCategory.map((currentCategory) => {
        const filteredPosts = posts.filter((post: any) =>
            post.data.category.includes(currentCategory)
        );
        return {
            params: { category: slugify(currentCategory) },
            props: { posts: filteredPosts, categoryName: currentCategory },
        };
    });
}

const { posts, categoryName } = Astro.props;
---

<MainLayout title={categoryName}>
    <main>
        <h1>{categoryName}</h1>
        <section>
            <ul>
                {
                    posts.map((post: any) => (
                        <li>
                            <a href={`/blog/${post.slug}/`}>
                                <FormattedDate date={post.data.pubDate} />
                                {post.data.title === "" ||
                                post.data.title === undefined
                                    ? removeMarkdown(post.body).slice(0, 40) +
                                      "..."
                                    : post.data.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</MainLayout>
