---
import { Icon } from "astro-icon";

export interface Props {
    text?: string;
    href: string;
    leftIcon?: string;
    rightIcon?: string;
}

let { text, href, leftIcon, rightIcon } = Astro.props;
---

<a href={href}>
    <div
        class="box-border flex h-full justify-center gap-x-2 rounded-2xl border border-zinc-300 px-5 py-2.5 font-semibold hover:bg-zinc-100"
    >
        {leftIcon && <Icon class="my-auto h-4 w-4" name={leftIcon} />}
        {text && <span>{text}</span>}
        {rightIcon && <Icon class="h-4 w-4" name={rightIcon} />}
    </div>
</a>
