---
import { Image } from 'astro:assets'

const today = new Date();
---

<footer
    aria-label="Žan Černe Footer"
    class="bottom-0 mt-auto flex w-auto flex-col space-y-8 py-20 md:flex-row md:space-y-0"
>
    <div class="flex w-full flex-col space-y-2 md:w-1/2">
        <div class="flex items-center space-x-2">
            <Image
                src="/assets/logoZanCerne.png"
                alt="Žan Černe Logo"
                class="justify-center space-x-2 rounded-full object-cover"
                sizes="400"
                width={[400, 400]}
                width={18}
                height={18}
            /><a href="https://cernezan.com">Žan Černe</a>
        </div>
        <span class="opacity-60"
            >Last updated: {today.toJSON().slice(0, 10)}</span
        >
        <span>
            <a
                class="opacity-60 hover:opacity-100"
                href="https://fediring.net/previous?host=cernezan.com">←</a
            >
            <a
                class="opacity-60 hover:opacity-100"
                target="_blank"
                href="https://fediring.net/">Fediring</a
            >
            <a
                class="opacity-60 hover:opacity-100"
                href="https://fediring.net/next?host=cernezan.com">→</a
            >
        </span>
        <span class="opacity-60"
            >&copy;2020 - {today.getFullYear()}. All rights reserved.</span
        >
    </div>
    <div
        class="flex w-full flex-col space-y-8 md:w-1/2 md:flex-row md:space-y-0"
    >
        <div class="flex w-full flex-col space-y-2 md:w-1/2">
            <span>Explore</span>
            <a class="opacity-60 hover:opacity-100" href="/blog">Blog</a>
            <a class="opacity-60 hover:opacity-100" href="/contact">Contact</a>
            <a class="opacity-60 hover:opacity-100" href="/about">About</a>
        </div>
        <div class="flex w-full flex-col space-y-2 md:w-1/2">
            <span>Social</span>
            <a
                class="opacity-60 hover:opacity-100"
                target="_blank"
                href="https://toot.io/@zan">Mastodon</a
            >
            <a
                class="opacity-60 hover:opacity-100"
                target="_blank"
                href="https://github.com/cernezan">Github</a
            >
            <a
                class="opacity-60 hover:opacity-100"
                target="_blank"
                href="https://linkedin.com/in/cernezan/">LinkedIn</a
            >
        </div>
    </div>
</footer>

<a rel="me" title="Mastodon Verification" href="https://toot.io/@zan"></a>
