@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 8s;
    }
    .animation-delay-2500 {
        animation-delay: 4s;
    }
}

@media (prefers-reduced-motion: reduce) {
    .reduce-motion {
        animation: none !important;
        transition: none !important;
    }
}

:root {
    --primary-color: #71C7FE;
    --base-font-weight: 600;
    --base-margin: 0.75rem;
    --decoration-thickness: 2px;
    --border-radius: 10px;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scrollbar-gutter: stable;
    overflow-y: scroll;

  }

h1, h2, h3, h4 {
    font-weight: var(--base-font-weight);
    margin-bottom: var(--base-margin);
    margin-top: var(--base-margin);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

article > ul {
    list-style-type: disc;
    padding-left: 1.1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

ul > li {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.full-view a, .link {
    font-weight: var(--base-font-weight);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: var(--decoration-thickness);
}

article img {
    display: block;
    margin: 2rem auto; /* Centers image horizontally */
    border-radius: var(--border-radius);
}

blockquote {
    padding: 1rem;
    background-color: #fafafa;
    border-color: rgb(212, 212, 216);
    border-left-width: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.astro-code {
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
}