---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="text-xl font-bold">This is awkward.</div>
    <div>This page doesn't exists.</div>
    <a href="/" class="link">Return back home.</a>
</MainLayout>
