---
import MainButton from "../components/buttons/mainButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Meeting Confirmed" description="Let's connect">
    <p>
        A calendar invitation has been <b>sent to your email address</b>. I'm genuinely excited about our upcoming meeting.
    </p>
</PageLayout>
