---
import MainButton from "../components/buttons/mainButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    title="Contact Me"
    description="I appreciate your interest and am looking forward to connecting with you. Here's how you can get in touch."
>
    <p>
        I appreciate your interest and am looking forward to connecting with
        you. Here's how you can get in touch. Scheduling a video call is a
        preferred method of contact for me, and I would be happy to meet you.
        You can also email me for any general inquiries, comments, or just to
        say hello. I typically respond within 24 hours.
    </p>
    <p>I'm looking forward to hearing from you!</p>

    <div class="my-3 flex space-x-4">
        <MainButton
            text="Schedule a call"
            target="_blank"
            href="https://calendly.com/cernezan/connect"
        />
        <MainButton
            isSecondary={true}
            text="Email me"
            href="mailto:cv14ht16@duck.com"
        />
    </div>
</PageLayout>
