---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div>Welcome to my website. I'm bloging about building this website and other stuff. Everything is still under construction. 🚧</div>
</MainLayout>
