---
import FormattedDate from "../components/FormattedDate.astro";

import { slugify } from "../utils";

const { category, categoryPath, pubDate, updatedDate } = Astro.props;
---

<div class="text-sm text-zinc-600">
    <!-- Category -->
    {
        category && (
            <>
                {categoryPath && (
                    <a href={categoryPath + slugify(category)}>{category}</a>
                )}
                {!categoryPath && <span>{category}</span>}

                <span> ·</span>
            </>
        )
    }
    <!-- Date -->
    {pubDate && <FormattedDate date={pubDate} />}
    {
        updatedDate && (
            <div>
                Last updated on <FormattedDate date={updatedDate} />
            </div>
        )
    }
</div>
