---
import FormattedDate from "../components/FormattedDate.astro";

import { slugify } from "../utils";

export interface Props {
    category?: string;
    categoryPath?: string;
    pubDate?: Date;
    updatedDate?: Date;
}

const { category, categoryPath, pubDate, updatedDate } = Astro.props;
---

<div class="text-sm opacity-60">
    {
        category && (
            <>
                {categoryPath && (
                    <a href={categoryPath + slugify(category)}>{category}</a>
                )}
                {!categoryPath && <span>{category}</span>}

                <span> ·</span>
            </>
        )
    }
    {pubDate && <FormattedDate date={pubDate} />}
    {
        updatedDate && (
            <div>
                Last updated on <FormattedDate date={updatedDate} />
            </div>
        )
    }
</div>
