---
import { shuffleArray } from "../utils";

export interface Props {
    listOfItems: string[];
    centerItems?: boolean;
}

let { listOfItems, centerItems = false } = Astro.props;
listOfItems = shuffleArray(listOfItems);
---

<div
    class={centerItems
        ? "flex flex-wrap gap-2 justify-center"
        : "flex flex-wrap gap-2"}
>
    {
        listOfItems.map((item: String) => (
            <div class="inline-flex text-sm rounded-3xl border border-dashed border-zinc-200 px-4 py-2 text-center">
                {item}
            </div>
        ))
    }
</div>
