---
const {categoryName, categorySlug} = Astro.props;
---

<a href={categorySlug}>
	<div class="inline-block bg-zinc-900 hover:bg-zinc-700 text-zinc-100 md:mb-0 my-2 font-semibold text-sm mr-3 py-1 px-3 rounded-md transition-colors duration-300">
		{categoryName}
	</div>
</a>
