---
import { shuffleArray } from "../utils";

export interface Props {
    listOfItems: string[];
}

let { listOfItems } = Astro.props;
listOfItems = shuffleArray(listOfItems);
---

<div class="flex flex-wrap gap-2">
    {
        listOfItems.map((item) => (
            <div class="inline-flex rounded-3xl border border-dashed border-zinc-200 px-4 py-2 text-center">
                {item}
            </div>
        ))
    }
</div>
