---
import HeaderLink from "./HeaderLink.astro";
import ProfileBadge from "./ProfileBadge.astro";

const { title } = Astro.props;
---

<header class="my-6 md:my-8 md:flex">
    <div class="flex">
        <!-- PROFILE - NAME - SUBTITLE -->
        <ProfileBadge
            title={title}
            link="/"
            profilePicture="/images/profilePicture.jpeg"
            subText="Hope you're doing ok."
        />
        <!-- MOBILE NAVIGATION -->
        <button
            id="nav-button"
            onclick="triggerNavbar()"
            type="button"
            class="inline-flex items-center justify-center rounded-lg px-3 text-gray-400 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 md:hidden"
        >
            <span class="sr-only">Open main menu</span>
            <!-- MENU ICONS -->
            <img
                id="menu-icon"
                class="h-6 w-6"
                src="/assets/icons/menu.svg"
                alt="hamburger menu icon"
            />
            <img
                id="close-icon"
                class="hidden h-6 w-6"
                src="/assets/icons/close.svg"
                alt="close menu icon"
            />
        </button>
    </div>

    <nav
        id="navbar"
        class="my-auto mt-4 hidden flex-col flex-wrap justify-between gap-x-6 rounded-lg bg-zinc-100 py-2 text-center md:order-1 md:my-auto md:ml-auto md:flex md:w-auto md:flex-row md:bg-transparent md:py-0"
    >
        <HeaderLink class="justify-center" href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
    </nav>
</header>

<script is:inline>
    function triggerNavbar() {
        const navbar = document.getElementById("navbar");
        const menuIcon = document.getElementById("menu-icon");
        const closeIcon = document.getElementById("close-icon");

        if (navbar.style.display === "flex") {
            navbar.style.display = closeIcon.style.display = "none";
            menuIcon.style.display = "flex";
        } else {
            navbar.style.display = closeIcon.style.display = "flex";
            menuIcon.style.display = "none";
        }
    }
</script>
