---
import HeaderLink from "./HeaderLink.astro";
import {SITE_TITLE} from "../consts";
import {Picture} from "@astrojs/image/components";
---

<header class="flex my-8">
	<div class="mr-auto flex text-lg">
		<Picture src="/images/profilePicture.jpeg" alt="Profile Picture" class="rounded-full" format={"jpeg"} widths={[400, 400]} width={50} height={50} aspectRatio={1} />
		<div class="font-extrabold ml-3 my-auto">{SITE_TITLE}</div>
	</div>
	<nav class="flex flex-wrap justify-between gap-x-6 my-auto">
		<HeaderLink class="justify-center" href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
