---
const {href} = Astro.props;
const {pathname} = Astro.url;
const splitPathname = pathname.split("/");
const isActive = href === pathname || href === "/" + splitPathname[1];
---

<a href={href} class={isActive ? "font-semibold" : "text-zinc-700"}>
	<slot />
</a>
