---
import SmallButton from "./buttons/SmallButton.astro";

export interface Props {
    prevUrl: string;
    nextUrl: string;
    currentPage?: number;
    lastPage?: number;
}

const { prevUrl, nextUrl, currentPage = 0, lastPage } = Astro.props;
---

<nav aria-label="Blog pages" class="my-4 flex justify-center gap-x-4">
    {prevUrl && <SmallButton href={prevUrl} icon="tabler:chevron-left" />}

    {
        currentPage > 1 && (
            <span class="my-auto px-3 font-medium">{currentPage}</span>
        )
    }
    {
        currentPage !== lastPage && nextUrl && (
            <SmallButton href={nextUrl} icon="tabler:chevron-right" />
        )
    }
</nav>
