---
import type { CollectionEntry } from "astro:content";
import CategoryDate from "./CategoryDate.astro";

export interface Props {
    posts: CollectionEntry<"blog">[];
}

let { posts } = Astro.props;
---

<div class="flex flex-col gap-4 md:grid md:grid-cols-2">
    {
        posts.map((post) => (
            <article class="w-full">
                <a href={`/blog/${post.slug}/`}>
                    <div class="flex h-full flex-col rounded-xl border border-zinc-200 bg-zinc-50 p-4 transition-colors delay-75 ease-out hover:cursor-pointer hover:border-zinc-400">
                        <h3 class="mb-auto mt-0">{post.data.title}</h3>
                        <div class="mt-1">
                            <CategoryDate
                                category={post.data.category}
                                pubDate={post.data.pubDate}
                            />
                        </div>
                    </div>
                </a>
            </article>
        ))
    }
</div>
