---
import type { CollectionEntry } from "astro:content";
import CategoryDate from "./CategoryDate.astro";

export interface Props {
    posts: CollectionEntry<"blog">[];
}

let { posts } = Astro.props;
---

<article class="flex flex-col gap-4 md:grid md:grid-cols-2">
    {
        posts.map((post) => (
            <div class="w-full">
                <a href={`/blog/${post.slug}/`}>
                    <div class="rounded-2xl border border-zinc-300 p-4 hover:bg-zinc-100">
                        <h3 class="mb-1 mt-0 overflow-hidden overflow-ellipsis whitespace-nowrap">
                            {post.data.title}
                        </h3>
                        <CategoryDate
                            category={post.data.category}
                            pubDate={post.data.pubDate}
                        />
                    </div>
                </a>
            </div>
        ))
    }
</article>
