---
export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<h2 class="mb-0 mt-0">{title}</h2>
<div class="mb-6 mt-0 text-lg font-semibold text-zinc-600">
    {description}
</div>
