---
import { AstroComponentInstance } from 'astro/dist/runtime/server';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from './MainLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, heroImage, pubDate, updatedDate } = Astro.props;
---
<MainLayout>
	<main>
		<article>
			{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
			<h1>{title}</h1>
			{pubDate && (<FormattedDate date={pubDate} />)}
			{
				updatedDate && (
					<div>
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			<hr />
			<slot />
		</article>
	</main>
</MainLayout>
