---
import BaseHead from "../components/website-base/BaseHead.astro";
import Footer from "../components/website-base/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_TITLE } from "../consts";

export interface Props {
    title: string;
    image?: string;
    description: string;
    isPost?: boolean;
}

const { title, image, description, isPost } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description}
            image={image}
            isPost={isPost || false}
        />
    </head>
    <body class="flex min-h-screen w-full max-w-4xl flex-col px-6 md:mx-auto">
        <Header title={SITE_TITLE} />
        <slot>No content.</slot>
        <Footer />
    </body>
</html>
